:root {
  --normalGap: 1rem;
  --mediumGap: 0.5rem;
  --tinyGap: 0.2rem;
  --redWaldo: #ee2d24;
  --blueWaldo: #009cdd;
  --color1: #773f41;
  --yellow: #ffef42;
  --roundBorder: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  min-height: 100vh;
}

body,
body > *,
p,
button {
  margin: 0;
  padding: 0;
}

button {
  background-color: inherit;
  border: none;
  align-items: center;
  appearance: button;
  background-color: var(--blueWaldo);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out,
    opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235, 235, 235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {
  background-color: rgb(245, 245, 245);
}


.button-22:active {
  background-color: #006ae8;
}

.button-22:hover {
  background-color: #1c84ff;
}

.header {
  display: flex;
}

.headerTitle {
  display: flex;
  gap: var(--tinyGap);
}
.red,
.headerLeaderboard,
.levelLoadedRed {
  color: var(--redWaldo);
}
.blue,
.headerLevel,
.levelLoaded {
  color: var(--blueWaldo);
}

.dropdownMenu {
  z-index: 10000;
  width: 150px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid var(--blueWaldo);
}
.dropdownMenu .option {
  padding: 8px 10px;
  font-size: 15px;
  color: var(--blueWaldo);
  cursor: pointer;
  border-radius: inherit;
}
.dropdownMenu .option:hover {
  border: 1px solid var(--redWaldo);
}
.dropdownMenu.visible {
  position: absolute;
}
.dropdownMenu.hidden,
.loading.hidden {
  display: none;
}
.hidden {
  display: none;
}
.communicationFeedback {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.2rem;
}

@media screen and (min-width: 900px) {
  .headerAvatarCont {
    display: flex;
    align-items: center;
    gap: var(--normalGap);
  }
  .header {
    min-height: 10vh;
    justify-content: space-evenly;
    align-items: center;
  }
  .waldoHeaderImg {
    width: 5rem;
  }
  .avatar {
    width: 2.2rem;
    padding: 0.5rem;
  }
  .avatarMini {
    height: 1.5rem;
  }
  .waldoLvl {
    position: relative;
  }
  .levelGrid {
    display: grid;
    gap: var(--normalGap);
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem;
  }
  .lvlContainer {
    display: flex;
    flex-direction: column;
    gap: var(--mediumGap);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: var(--roundBorder);
    transition: all 0.15s cubic-bezier(0.07, 0.75, 0.63, 1.05),
      transform 0.3s cubic-bezier(0.09, 0.76, 0.57, 1.03);
  }
  .lvlImgGrid {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 0 0 var(--roundBorder) var(--roundBorder);
  }
  .infoLvl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--mediumGap);
  }
  .avatarsLvl {
    border-radius: var(--roundBorder);
    display: flex;
    gap: var(--tinyGap);
  }
  .avatarLevel {
    border-radius: var(--roundBorder);
    height: 2rem;
    object-fit: contain;
  }
  .scenarioImg {
    justify-self: center;
    width: 100%;
    max-width: 100%;
    display: block;
  }
  .endgameModal,
  .userName {
    display: none;
  }
  .endgameModal.visible {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--blueWaldo);
  }
  .endgameModal.visible,
  .userName.visible {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .endgameBtn {
    background-color: var(--redWaldo);
  }
  .charactersPresent {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .highscoreContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    }
        
}

@media screen and (min-width: 501px) and (max-width: 899px) {
}

@media screen and (max-width: 500px) {
}

/* -------------------Animations---------------------------------- */
.lvlContainer:hover {
  transform: scale(1.02);
}
